<?xml version="1.0"?>
<launch>
    <!-- acquisition arguments -->
  <arg name="devarg" default=''/>
    <!-- recorder arguments -->
  <arg name="filename" default=''/>
  <arg name="autostart" default='true'/>
    
  <!-- ROSBridge: remote acquisition node (ex: win10) -->
  <include file="$(find rosneuro_launchers)/launch/start_rosbridge.launch"/> 

    <!-- recorder node -->
  <node name="recorder" pkg="rosneuro_recorder" type="recorder" output="screen">
    <param name="~filename" value="$(arg filename)"/>
    <param name="~autostart" value="$(arg autostart)"/>
  </node>

</launch>
